In [1]:
##Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [2]:
import pandas as pd

data =[4,8,15,16,23,42]
series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [3]:
##Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
##variable print it.

In [4]:
my_list = [10,20,30,40,50,60,70,80,90,100]
series = pd.Series(my_list)
print(series)

0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64

In [5]:
## Create a Pandas DataFrame that contains the following data:

In [10]:

data = {'Name':['Soni','Monu','Chintu'], 'Age':[25,30,27], 'Gender':['Female', 'Male', 'Female']}
df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0    Soni   25  Female
1    Monu   30    Male
2  Chintu   27  Female

In [11]:
##What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
##you give an example of when you might use one of these functions?

In [12]:
##head() and tail(): These functions allow you to view the first or last n rows of a DataFrame. For example, df.head() will return the first five rows of the DataFrame df.

##info(): This function displays a summary of the DataFrame, including the data types of each column and the number of non-null values.

##describe(): This function provides summary statistics for each numerical column in the DataFrame, such as mean, standard deviation, minimum, maximum, and quartile values.

##loc[] and iloc[]: These functions allow you to access and manipulate specific rows and columns of the DataFrame based on their labels or indices. For example, df.loc[0, 'Name'] will return the value in the first row and 'Name' column of the DataFrame df.

##drop(): This function allows you to remove a row or column from the DataFrame. For example, df.drop('Gender', axis=1) will remove the 'Gender' column from the DataFrame df.

##groupby(): This function allows you to group rows in the DataFrame based on the values in one or more columns, and then apply a function to each group. For example, df.groupby('Gender')['Age'].mean() will group the DataFrame df by 'Gender' and calculate the mean age for each group.

##merge(): This function allows you to combine two DataFrames based on a common column. For example, if you have two DataFrames df1 and df2 with a common column 'ID', pd.merge(df1, df2, on='ID') will merge the two DataFrames based on the 'ID' column.

In [13]:
##Which of the following is mutable in nature Series, DataFrame, Panel?

In [14]:
##In Pandas, both Series and DataFrame are mutable in nature, which means that you can modify their values, add or remove rows or columns, and perform other operations that change the data in place. However, Panel is deprecated in the latest version of Pandas and replaced by other data structures, such as MultiIndex DataFrames, and is immutable in nature.

In [15]:
##Create a DataFrame using multiple Series. Explain with an example

In [16]:
##Create a DataFrame using multiple Series. Explain with an example

In [ ]:
names = pd.Series(['Alice','Bob', 'Claire'])
ages = pd.Series([25,30,27])
genders = pd.Series(['Female', 'Male', 'Female'])

data = {'Name':names, 'Ages':ages, 'Gender':genders}

df = pd.DataFrame(data)
print(df)